body {
    padding-top: 50px;
}
@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
}
.footer {
    font-size: smaller;
    text-align: center;
}
.thumbnails .span3:nth-child(4n + 1),
.thumbnails .span4:nth-child(3n + 1) {
    margin-left: 0;
}
.thumbnail.product {
    text-align: center;
    height: 350px;
    position: relative;
}
.thumbnail.product a.thumb {
    display: block;
    height: 200px;
    background: no-repeat center;
}
.thumbnail.product a.btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -42.5px;
}
.thumbnail.product form {
    width: 96%;
    position: absolute;
    bottom: 4px;
    background: #fff;
    margin: 0;
}
#bigImage {
    margin-bottom: 20px;
}
.icon-mirror {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}
.filter * {
    margin-bottom: 0;
}
.cart-grid .img {
    display: block;
    float: left;
    width: 64px;
    height: 64px;
    overflow: hidden;
    margin: 0 10px 0 0;
}
.cart-grid .img img {
    margin-top: -21.5px;
}

hr.dotted {
    margin: 10px 0;
    border-top: none;
    border-bottom: 1px dotted #fff;
}